* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

/* timer */

.timer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #3f4458;
  margin-top: 10px;
  padding: 10px;
  cursor: default;
}

.value {
  padding: 1px 10px;

  font-size: 100px;
  color: #fff;
  border-radius: 70%;

  transition: background-color 0.5s ease;
}

.value:hover {
  background-color: #80cbc4;
  border: transparent;
}

.label {
  color: #fff;
}
